.text-color-white {
    color: #fff;
}

.color-green {
    color: green;
}

.color-orange {
  color: orange;
}

.color-blue {
    color: blue;
}

.float-left {
    float: left;
}

.text-align-left {
    text-align: left;
}

.margin-top-10 {
  margin-top: 10px;
}
.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}

@media (min-width: 980px) {
  body {
   padding-top: 45px;
  }
 .linediv-l {
   border-right: 1px white solid;
  }
 .linediv-r {
   border-left: 1px white solid;
 }
}

/* Landscape phones and down */
@media (max-width: 480px) {
 .copy {
   padding: 2.5% 10%;
 }
 .linediv-l {
   border-bottom: 1px white solid;
 }
 .linediv-r {
   border-top: 1px white solid;
 }
}

/* All form factors */

/* Main body and headings */
body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.heading, .subheading {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  text-align: center;
}
p.lead {
  padding-top: 1.5%;
  font-size: 24px;
  line-height: 30px;
}
p {
  font-size: 18px;
  line-height: 24px;
}

/* Video pitch and Action */
.pitch {
  padding: 2.5% 0%;
}
.order {
  padding: 2% 0%;
}
.actions {
  background-color: #343434;
  padding: 3% 0%;
}
.video, .thermometer, .order, .social, .statistics {
  text-align: center;
}
.statistics h3, .statistics p {
  color: white;
}

/* Marketing Copy and Footer */
.copy {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  text-align: justify;
}
.asset {
  padding: 2.5% 0%;
}
.footer {
  color: #cccccc;
  text-align: center;
}
.footer p {
  font-size: 11px;
}
.footer a {
  color: #ccccff;
}

.top-headline {
	margin-top: 30px;
}

.second-line {
	margin-bottom: 30px;
}

.start-working-btn {
	color: #fff;
	font-size: 20px;
	
	padding: 10px 20px;
    margin-bottom: 10px;
	border-radius: 10px;
}

#toggle-validate-btn {
  margin-bottom: 10px;
}

.points {
	margin-top: 100px;
}

#restart-checkbox-div label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
#restart-checkbox-div input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}